{
    "extends": "airbnb",
    "rules": {
        "indent": [2, 4, { SwitchCase: 1 }],
        "comma-dangle": 0,

        "global-require": 0,

        "react/prefer-stateless-function": 0,
        "react/jsx-indent": [2, 4]
    }
}
